#titulo{
    background-color: rgb(244, 165, 210);
    border:4px solid #000;
    margin:2%;
    text-align: center;
}
#descripcion{
    background-color: rgb(244, 165, 210);
    border:4px solid #000;
    margin:2%;
    padding:2%;
    text-align: center;
}
#higiene{
    width: 24%;
    background-color: rgb(244, 165, 210);
    border:4px solid #000;
    margin:2%;
    padding:2%;
    float: left;
}